{% extends 'base.html'%} {%block main%} {%for i in pl%}
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="{{i.img}}" alt="{{i.img}}">
        <div class="caption">
            <h4 class="pull-right">{{i.price}}</h4>
            <h4 class="imgu"><a href="#">{{i.name}}</a>
            </h4>
            {%if user.is_authenticated%}
            <button><a href="{%url 'shop:addToCart' i.id %}">addToCart</a></button> {%else%}
            <button><a href="{%url 'shop:login'%}">addToCart</a></button> {%endif%}
            <p>{{i.description}}</p>
        </div>
        <div class="ratings">
            <p class="pull-right">15 reviews</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </p>
        </div>
    </div>
</div>
{%endfor%} {%endblock%}